extends layout
include mixins/mixins_index

block content
    section.main
        .clearfix
            +login_form

            .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active(ng-show='loading')
                
            #blur.ng-hide(ng-show="editing && !loading")
            
            //- Table for Students for Center and Admin
            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.ng-hide(ng-controller="TableController", ng-show="loggedIn && !isStudent && !$parent.show_users && !$parent.show_centers", ng-init="update_students()", ng-table='tableParams', show-filter='true', style="max-height:80vh;overflow-y:auto;float:left;display:block;border-radius:10px;")
                thead
                    tr
                        th.mdl-data-table__cell--non-numeric(ng-show="selectMultiple")
                        th.mdl-data-table__cell--non-numeric
                        th.mdl-data-table__cell--non-numeric
                            <a href="" ng-click="order('phone')"> PHONE NO. </a>
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('email')"> E-MAIL </a>                            
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('name')"> NAME </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('dateofbirth')"> DATE OF BIRTH </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('gender')"> GENDER </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('parentname')"> PARENT NAME </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('tshirtsize')"> T-SHIRT </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('status')"> STATUS </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('dateCreated')"> DATE OF ENROLLMENT </a>                                                    
                        //- th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('programmename')"> PROGRAMME NAME </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('centername')"> CENTER NAME </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('sstatename')"> STATE NAME </a>                                                    
                        //- th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('level')"> LEVEL </a>                                                    
                        //- th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('category')"> CATEGORY </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('paymentapproved')"> PAYMENT APPROVED </a>                            
                        th.mdl-data-table__cell--non-numeric
                            <a href="" ng-click="order('paymentdate')"> PAYMENT DATE </a>                            
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('transactionno')"> TRANSACTION NO. </a>                            
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('paymentmode')"> PAYMENT MODE </a>                            
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('bankname')"> BANK NAME </a>                            
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('mfapproved')"> MF Approved </a>                            
                        th.mdl-data-table__cell--non-numeric(ng-show='isAdmin') 
                            | Actions 
                        th.mdl-data-table__cell--non-numeric(ng-show='isMaster') 
                            | Actions                            
                tbody   
                    tr
                        td.mdl-data-table__cell--non-numeric(ng-show="selectMultiple")
                        td.mdl-data-table__cell--non-numeric
                        td
                            input(type="text",ng-model="search.phone") 
                        td
                            input(type="text",ng-model="search.email") 
                        td
                            input(type="text",ng-model="search.name") 
                        td
                            input(type="text",ng-model="search.dateofbirth") 
                        td
                            input(type="text",ng-model="search.gender")
                        td
                            input(type="text",ng-model="search.parentname") 
                        td
                            input(type="text",ng-model="search.tshirtsize") 
                        td
                            input(type="text",ng-model="search.status") 
                        td
                            input(type="text",ng-model="search.dateCreated") 
                        //- td
                            input(type="text",ng-model="search.programmename") 
                        td
                            input(type="text",ng-model="search.centername") 
                        td
                            input(type="text",ng-model="search.sstatename") 
                        //- td
                            input(type="text",ng-model="search.level") 
                        //- td
                            input(type="text",ng-model="search.category") 
                        td
                            input(type="text",ng-model="search.paymentapproved") 
                        td
                            input(type="text",ng-model="search.paymentdate") 
                        td
                            input(type="text",ng-model="search.transactionno") 
                        td
                            input(type="text",ng-model="search.paymentmode") 
                        td
                            input(type="text",ng-model="search.bankname") 
                        td
                            input(type="text",ng-model="search.mfapproved") 
                        td(ng-show='isAdmin')
                        td(ng-show='isMaster')

                    tr(ng-repeat="f in student_list | orderBy:predicate:reverse | filter:search track by $index", ng-style="f.status=='payment' && {'background-color':'burlywood'} || f.status=='admin' && {'background-color':'peachpuff'}")
                        th(class="mdl-data-table__cell--non-numeric",ng-show="selectMultiple") 
                            input(type="checkbox",ng-model="f.checked",ng-change="selectedOneMultiple(f)",ng-show="f.status=='payment' && f.photo != '' && f.photo != undefined && f.birthcertificate != '' && f.birthcertificate != undefined",style="width:21px;height:21px;")
                            input(type="checkbox",title="Please upload student photo to make payment",ng-model="f.checked",ng-show="f.status=='payment' && (f.photo == '' || f.photo == undefined || f.birthcertificate == '' || f.birthcertificate == undefined)",ng-disabled="f.photo == '' || f.photo == undefined || f.birthcertificate == '' || f.birthcertificate == undefined",style="width:21px;height:21px;")
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{$index+1}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.phone}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.email}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.name}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.dateofbirth | date:'dd-MMM-yyyy'}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.gender}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.parentname}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.tshirtsize}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.status}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.dateCreated | date:'dd-MMM-yyyy'}}
                        //- td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id)") {{f.programmename}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.centername}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.sstatename}}
                        //- td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id)") {{f.level}}
                        //- td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id)") {{f.category}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.paymentapproved}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.paymentdate | date:'dd-MMM-yyyy'}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.transactionno}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.paymentmode}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.bankname}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f.status, f._id, f.mfapproved)") {{f.mfapproved}}
                        td(class="mdl-data-table__cell--non-numeric",ng-show='isAdmin') 
                            //- button(style="border:none;color:white;padding:8px;border-radius:5px;background:#795548;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",ng-click="displayHallTicket(f.phone)") Hall Ticket
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#f44336;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",confirmed-click="deleteStudent(f._id)",ng-confirm-click="Are you sure you want to delete this entry? The action cannot be undone.",ng-show="f.status == 'open' || f.status =='payment'") Delete
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#3f51b5;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",confirmed-click="approveStudent(f)",ng-confirm-click="Are you sure you want to Confirm payment for this entry?",ng-show="f.status=='admin' && !f.paymentapproved && f.mfapproved") Approve
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#3f51b5;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",confirmed-click="masterApprove(f)",ng-confirm-click="Are you sure you want to Approve for this student?",ng-show="!f.mfapproved && f.status == 'admin' && reportingDirect(f.centercode)") Master Approve
                            //- button(style="border:none;color:white;padding:8px;border-radius:5px;background:#607d8b;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",ng-click="enterHallTicket(f._id)",ng-show="f.status=='hallticket' && f.paymentapproved && isAdmin") Exam Details
                        td(class="mdl-data-table__cell--non-numeric",ng-show='isMaster') 
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#3f51b5;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",confirmed-click="masterApprove(f)",ng-confirm-click="Are you sure you want to Approve for this student?",ng-show="!f.mfapproved && f.status == 'admin'") Approve

            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.ng-hide(ng-controller="TableController", ng-show="loggedIn && !isStudent && $parent.show_centers", ng-init="update_students()", ng-table='tableParams', show-filter='true', style="max-height:80vh;overflow-y:auto;float:left;display:block;border-radius:10px;")
                thead
                    tr
                        th.mdl-data-table__cell--non-numeric
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('programmename')"> PROGRAMME NAME </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('centername')"> CENTER NAME </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('centername')"> CENTER CODE </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('sstatename')"> STATE NAME </a>   
                        th.mdl-data-table__cell--non-numeric(ng-show="isAdmin") 
                            <a href="" ng-click="order('is_direct')"> REPORTING TO </a>   
                        th.mdl-data-table__cell--non-numeric                                                                          
                tbody   
                    tr
                        td
                        td
                            input(type="text",ng-model="search.programmename") 
                        td
                            input(type="text",ng-model="search.centername") 
                        td
                            input(type="text",ng-model="search.centercode") 
                        td
                            input(type="text",ng-model="search.sstatename") 
                        td(ng-show="isAdmin")
                        td

                    tr(ng-repeat="f in center_list | orderBy:predicate:reverse | filter:search track by $index")
                        td(class="mdl-data-table__cell--non-numeric") {{$index+1}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.programmename}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.centername}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.centercode}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.sstatename}}
                        td(class="mdl-data-table__cell--non-numeric",ng-show="isAdmin") 
                            span(ng-if="f.is_direct") Head Office
                            span(ng-if="!f.is_direct") Master Franchise
                        td(class="mdl-data-table__cell--non-numeric") 
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#f46549;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",ng-click="updateCenter(f)") Update
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#f44336;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",confirmed-click="deleteCenter(f._id)",ng-confirm-click="Are you sure you want to delete this entry? The action cannot be undone.") Delete

            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.ng-hide(ng-controller="TableController", ng-show="loggedIn && !isStudent && $parent.show_users", ng-init="update_students()", ng-table='tableParams', show-filter='true', style="max-height:80vh;overflow-y:auto;float:left;display:block;border-radius:10px;")
                thead
                    tr
                        th.mdl-data-table__cell--non-numeric
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('username')"> PHONE NO </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('role')"> ROLE </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('center')"> CENTER CODE </a>                                                    
                        th.mdl-data-table__cell--non-numeric 
                            <a href="" ng-click="order('sstate')"> STATE </a>                                                    
                        th.mdl-data-table__cell--non-numeric                                                                          
                tbody   
                    tr
                        td
                        td
                            input(type="text",ng-model="search.username") 
                        td
                            input(type="text",ng-model="search.role") 
                        td
                            input(type="text",ng-model="search.center") 
                        td
                            input(type="text",ng-model="search.sstate") 
                        td

                    tr(ng-repeat="f in temp_user_list | orderBy:predicate:reverse | filter:search track by $index")
                        td(class="mdl-data-table__cell--non-numeric") {{$index+1}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.username}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.role}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.center}}
                        td(class="mdl-data-table__cell--non-numeric") {{f.sstate}}
                        td(class="mdl-data-table__cell--non-numeric") 
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#f46549;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",ng-click="updateUser(f)") Update
                            button(style="border:none;color:white;padding:8px;border-radius:5px;background:#f44336;cursor:pointer;box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);margin: 0 3px;",confirmed-click="deleteUser(f._id)",ng-confirm-click="Are you sure you want to delete this entry? The action cannot be undone.") Delete

            //- Student Form
            div.ng-hide(ng-controller="FormController", ng-show='loggedIn && isStudent', style='margin-top:100px;')
                div
                    ncy-breadcrumb
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            form(name='registration', ng-submit='save_student()', ng-show='showStudentStatus')
                                .panel.panel-default(style='margin-top:20px;')
                                    .panel-body.slate_board(style='height:70vh; overflow-y:scroll; background-color:white;border-radius: 10px;padding: 30px 30px;')
                                       div(ng-if="studentStatus.status == 'open' || studentStatus.status == 'payment'")
                                            h5#swal2-title.swal2-title(style="color:#0080ff;margin:10px 20px;") Dear {{studentStatus.name}} <br><br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Thankyou for the registration at Aloha. Your current status is <b> Open. </b> <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Please make a payment of <b> Rs. {{calculateFee(studentStatus)}} towards Registration, </b> to the respective Centers. <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Do not forget to come back after <b> 10th December 2018 </b> to print the hall ticket. <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Incase of any doubts, pls call 97909 44889 / 99402 99992 / 72999 44889 or email us @ <a href="mailto:info@alohaindia.com">info@alohaindia.com</a>, <a href="mailto:enquiry@ufalohaindia.com">enquiry@ufalohaindia.com</a> <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Wishing your kid all the very best! <br>
                                            <a ng-href="{{file}}" target="_blank" style="color:blue;margin:20px;width:40%;text-align:center;float:left;">Download Terms & Conditions</a>
                                            <a style="color:blue;float:left;margin:20px;cursor:pointer;width:40%;text-align:center;" ng-click='downloadFormCopy(studentStatus)'>Download Copy of Form</a> 

                                       div(ng-if="studentStatus.status == 'admin' || studentStatus.status == 'hallticket'")
                                            h5#swal2-title.swal2-title(style="color:#0080ff;margin:10px 20px;") Dear {{studentStatus.name}} <br><br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Thankyou for the registration at Aloha. Your current status is <b> In Process. </b> <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") We have successfully received your payment, and you can download the receipt below. <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Do not forget to come back after <b> 10th December 2018 </b> to print the hall ticket. <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Incase of any doubts, please mail us at info@alohaindia.com <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Wishing your kid all the very best! <br>
                                            <a ng-href="{{file}}" target="_blank" style="color:blue;margin:20px;">Download Terms & Conditions</a>                                                                                             
                                            <a ng-click="downloadReceipt()" style="color:blue;margin:20px;text-decoration:underline;cursor:pointer;">Download Receipt</a>

                                       div(ng-if="studentStatus.status == 'closed'")
                                            h5#swal2-title.swal2-title(style="color:#0080ff;margin:10px 20px;") Dear {{studentStatus.name}} <br><br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Thankyou for the registration at Aloha.<br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") You can download the Hall Ticket and Receipt below. Do not forget to carry printed Hall Ticket to the Exam Venue. <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Incase of any doubts, pls call 97909 44889 / 99402 99992 / 72999 44889 or email us @ <a href="mailto:info@alohaindia.com">info@alohaindia.com</a>, <a href="mailto:enquiry@ufalohaindia.com">enquiry@ufalohaindia.com</a> <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Wishing your kid all the very best! <br> <br>
                                            <a ng-href="{{file}}" target="_blank" style="color:blue;margin:20px;">Download Terms & Conditions</a>
                                            <a ng-click="downloadReceipt()" style="color:blue;margin:20px;text-decoration:underline;cursor:pointer;">Download Receipt</a>
                                            br
                                            br
                                            br
                                            span(ng-repeat="program in studentStatus.programmes", style="margin:20px;")
                                                <a ng-click="downloadHallTicket(studentStatus.phone, program._id)" style="color:blue;text-decoration:underline;cursor:pointer;"><b>Download Hall Ticket for {{program.programmename}}</b></a>

            //- Card for center to be updated
            .demo-card-wide.mdl-card.mdl-shadow--2dp.slate_board.ng-hide(ng-controller="CardController", ng-show="$parent.editing")
                .mdl-card__supporting-text(style="padding:25px;color:black;")
                    div(style="width:82.5%;float:left;overflow-y:auto;max-height:75vh;height:75vh;")
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model='student.sstatename', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select State *')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model='student.centername', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select Center *')}
                        
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.phone", ng-minlength="10", ng-disabled="true", ng-maxlength="10", ng-required="true")
                            label.mdl-textfield__label !{t('Phone Number *')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label !{t('Email *')}
                            input.mdl-textfield__input(type="email", ng-model="student.email", ng-required="true")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label !{t('Name Of Student *')}
                            input.mdl-textfield__input(type="text", ng-model="student.name", ng-required="true")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label !{t('Parent Name *')}
                            input.mdl-textfield__input(type="text", ng-model="student.parentname", ng-required="true")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label !{t('Date Of Birth (dd/mm/yyyy) *')}
                            input.mdl-textfield__input(type="date", ng-model="student.dateofbirth", id="datepicker", ng-required="true")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label.mdl-textfield__label !{t('Gender *')}
                            label(style="float:left;width:50%;")
                                input.mdl-textfield__input(type="radio", ng-model="student.gender", ng-required="true", value="Male", style="float:left;width:10%;margin-top: 3px;")
                                | Male
                            label(style="float:left;width:50%;")
                                input.mdl-textfield__input(type="radio", ng-model="student.gender", ng-required="true", value="Female", style="float:left;width:10%;margin-top: 3px;")
                                | Female

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            span !{t('T-Shirt Size *')}
                            select.mdc-select__native-control(ng-model='student.tshirtsize', ng-options='x for x in tshirtsizeoptions')
                                option(value="" disabled selected)
                                    | Select T-Shirt Size 

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style="width:46%;")
                            label !{t('Address *')}
                            input.mdl-textfield__input(ng-model="student.address", ng-required="true", type="text")

                        hr(style="border-color: black;")
                        br

                        div(ng-repeat="program in student.programmes")

                            //- .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label(style="font-size:16px;font-weight:bold;float:left;") !{t('&nbsp; &nbsp; &nbsp; Programme Name * &nbsp;')} 

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails(style="margin:-15px; margin-left:5px;")
                                select.mdc-select__native-control(ng-model='program.programmename', ng-options='x for x in getProgrammeOptions()') 

                            a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="delete_programme(program)", style="background:#d1d1d1;color:#e30e30;border:white;padding:3px;font-size:12px;box-shadow:white;margin-top:-15px;margin-right:25px;", ng-show='isUnit')
                                | !{t('DELETE PROGRAMME')}
                            br
                            hr

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                span !{t('Level Applying For *')}
                                select.mdc-select__native-control(ng-model='program.level', ng-options='x for x in getlevelsOptions(program.programmename)')
                                    option(value="" selected)
                                        | Select Level Applying For 

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                label !{t('Category (Auto Generated)')}
                                input.mdl-textfield__input(type="text", ng-model="program.category", ng-disabled="true", ng-value="getCategoryValue(program)")

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                span !{t('Level in 2017')}
                                select.mdc-select__native-control(ng-model='program.lastyearlevel.one', ng-options='x for x in getlevelsOptions(program.programmename)')
                                    option(value="" selected)
                                        | Level in 2017 

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                span !{t('Level in 2016')}
                                select.mdc-select__native-control(ng-model='program.lastyearlevel.two', ng-options='x for x in getlevelsOptions(program.programmename)')
                                    option(value="" selected)
                                        | Level in 2016

                            br

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('Fees Details')}

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('Month')}
                            
                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('Date')}

                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('Amount')}

                            //- Array 0
                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('')}

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[0].month", ng-required="true")

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[0].date", ng-required="true")
                            
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[0].amount", ng-required="true")

                            //- Array 1
                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('')}

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[1].month", ng-required="true")

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[1].date", ng-required="true")
                            
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[1].amount", ng-required="true")

                            //- Array 2
                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                span !{t('')}

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[2].month", ng-required="true")

                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[2].date", ng-required="true")
                            
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.feedetails
                                label !{t('')}
                                input.mdl-textfield__input(type="text", ng-model="program.feesdetails[2].amount", ng-required="true")

                            hr(style="border-color: black;")
        
                    div(style="width:17.5%;float:left;overflow-y:auto;max-height:75vh;height:75vh;", class="show-image")
                        a(ng-href="https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.photo}}",target="_blank",ng-if="student.photo != undefined && student.photo != ''")
                            img(ng-src='https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.photo}}', style="border:3px solid grey;width: 175px; height: 225px;margin-top:10px;margin-left:15px;", ng-if="getFileExtension(student.photo)")
                            span(style="color:blue;padding-top:30px;font-size:20px;",ng-if="!getFileExtension(student.photo)") 
                                br
                                br
                                | Download Photo (Format not supported to display)
                        <span class="close" ng-click="deleteImage('photo')" ng-if="student.photo != undefined && student.photo != ''" style="cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        
                        br

                        a(ng-href="https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.birthcertificate}}",target="_blank",ng-if="student.birthcertificate != undefined && student.birthcertificate != ''")
                            img(ng-src='https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.birthcertificate}}', style="border:3px solid grey;width: 175px; height: 225px;margin-top:10px;margin-left:15px;", ng-if="getFileExtension(student.birthcertificate)")
                            span(style="color:blue;padding-top:30px;font-size:20px;",ng-if="!getFileExtension(student.birthcertificate)") 
                                br
                                br
                                | Download Photo (Format not supported to display)
                        <span class="close" ng-click="deleteImage('birthcertificate')" ng-if="student.birthcertificate != undefined && student.birthcertificate != ''" style="cursor:pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.photo == undefined || student.photo == ''", style="width:90%;")
                            span !{t('Upload Student Image')}  
                            input(type = 'file', file-model = 'myFile', ng-src='{{student.photo}}', accept="image/*")
                            img(ng-src="{{imageSrc}}", style="border:3px solid grey;width: 175px; height: 225px;margin-top:25px;", ng-show="imageSrc != '' && imageSrc != undefined")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.birthcertificate == undefined || student.birthcertificate == ''", style="width:90%;")
                            span !{t('Upload Birth Certificate / Aadhaar Card')}  
                            input(type = 'file', file-model = 'myFile1', ng-src='{{student.birthcertificate}}', accept="image/*")
                            img(ng-src="{{imageSrc1}}", style="border:3px solid grey;width: 175px; height: 225px;margin-top:25px;", ng-show="imageSrc1 != '' && imageSrc1 != undefined")

                        br

                p(style="text-align:center;color:red;font-weight:bolder;margin:0;padding:0;")
                    {{msg}}

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_student()")
                        | !{t('SAVE')}
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="add_programme()", style="margin-right:10%;background:#d1d1d1;color:#3a9788;border:none;padding:3px;font-size:14px;box-shadow:none;", ng-show='isUnit')
                        | !{t('ADD ANOTHER PROGRAMME')}
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="swap_image()", style="margin-right:-50%;background:#d1d1d1;color:#3a9788;border:none;padding:3px;font-size:14px;box-shadow:none;")
                        | !{t('SWAP IMAGE')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="close_card()")
                        i.material-icons close

            //- Card for Payment details to be added
            .demo-card-wide.mdl-card.mdl-shadow--2dp.paymenting.slate_board.ng-hide(ng-show="paymenting")
                .mdl-card__supporting-text
                    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style="width:42%;")
                        span !{t('Payment Mode *')}
                        select.mdc-select__native-control(ng-model='payment.paymentmode', ng-options='x for x in paymentmodes', ng-required="true")
                            option(value="" selected)
                                | Select Payment Mode

                    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style="width:42%;")
                        span !{t('Bank *')}
                        select.mdc-select__native-control(ng-model='payment.bankname', ng-options='x for x in banknames', ng-required="true")
                            option(value="" selected)
                                | Select Bank

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style="width:42%;")
                        input.mdl-textfield__input(type="text", ng-model="payment.transactionno", ng-required="true")
                        label.mdl-textfield__label !{t('Transaction Number *')}

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style="width:42%;")
                        span !{t('Payment / Cheque Date *')}
                        input.mdl-textfield__input(type="date", ng-model="payment.paymentdate", ng-required="true")
                        //- label.mdl-textfield__label !{t('Payment / Cheque Date')}

                p(style="text-align:center;color:red;font-weight:bolder;margin:0;padding:0;")
                    {{msgs}}

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_payment()")
                        | !{t('SAVE')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="cancel_payment()")
                        i.material-icons close
            //- Card for Admin to be updated
            .demo-card-wide.mdl-card.mdl-shadow--2dp.slate_board.ng-hide(ng-controller="CardController", ng-show="$parent.adminediting")
                .mdl-card__supporting-text(style="padding:5px;")
                    div(style="width:80%;float:left;overflow-y:scroll;max-height:80vh;")
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model='student.sstatename', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select State')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model='student.programmename', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select Programme')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model='student.centername', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select Center')}
                        
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.phone", ng-minlength="10", ng-disabled="true", ng-maxlength="10", ng-required="true")
                            label.mdl-textfield__label !{t('Phone Number')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="email", ng-model="student.email", ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Email')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.name", ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Name Of Student')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.parentname", ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Parent Name')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label.mdl-textfield__label !{t('Gender')}
                            label(style="float:left;width:50%;")
                                input.mdl-textfield__input(type="radio", ng-model="student.gender", ng-disabled="true", ng-required="true", value="Male", style="float:left;width:10%;margin-top: 3px;")
                                | Male
                            label(style="float:left;width:50%;")
                                input.mdl-textfield__input(type="radio", ng-model="student.gender", ng-disabled="true", ng-required="true", value="Female", style="float:left;width:10%;margin-top: 3px;")
                                | Female

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            textarea.mdl-textfield__input(ng-model="student.address", ng-disabled="true", ng-required="true", rows="2")
                            label.mdl-textfield__label !{t('Address')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="date", ng-model="student.dateofbirth", ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Date Of Birth')}

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.tshirtrequired")
                            span !{t('T-Shirt Size')}
                            select.mdc-select__native-control(ng-model='student.tshirtsize', ng-disabled="true", ng-options='x for x in tshirtsizeoptions')
                                option(value="" disabled selected)
                                    | Select T-Shirt Size 

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="date", ng-model="student.registrationdate", ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Date Of Student Registration at Aloha')}

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme'")
                            span !{t('Group')}
                            select.mdc-select__native-control(ng-model='student.group', ng-options='x for x in schoolgroups', ng-disabled="true", ng-change="onGroupChange(student.group, 'School')")
                                option(value="" selected)
                                    | Select Group 

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            span !{t('Group')}
                            select.mdc-select__native-control(ng-model='student.group', ng-options='x for x in centergroups', ng-disabled="true", ng-change="onGroupChange(student.group, 'Center')")
                                option(value="" selected)
                                    | Select Group 

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.category", ng-disabled="true")
                            label.mdl-textfield__label !{t('Category')}
        
                        p(ng-show="age.years != -1 && age.months != -1", style="display:-webkit-inline-box;margin-left:-27%;")
                            | Age as on 31/Sept/2018 - {{age.years}} Yrs, {{age.months}} Month

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.group == 'MA' || student.group == 'MAS'")
                            span !{t('Level Applying For')}
                            select.mdc-select__native-control(ng-model='student.level', ng-disabled="true", ng-options='x for x in malevels')
                                option(value="" selected)
                                    | Select Level Applying For 

                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.group == 'TT' || student.group == 'TTS'")
                            span !{t('Level Applying For')}
                            select.mdc-select__native-control(ng-model='student.level', ng-disabled="true", ng-options='x for x in ttlevels')
                                option(value="" selected)
                                    | Select Level Applying For 

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="text", ng-disabled="true", ng-model="student.presentlevel")
                            label.mdl-textfield__label !{t('Present Running Level')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="text", ng-disabled="true", ng-model="student.presentweek")
                            label.mdl-textfield__label !{t('Present Running Week')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme'")
                            input.mdl-textfield__input(type="text", ng-disabled="true", ng-model="student.class")
                            label.mdl-textfield__label !{t('Class Studying In')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme'")
                            input.mdl-textfield__input(type="text", ng-disabled="true", ng-model="student.section")
                            label.mdl-textfield__label !{t('Section Studying In')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-disabled="true", ng-model="student.lastyearlevel")
                            label.mdl-textfield__label !{t('If Participated Last Year, Which Level?')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-required="true", ng-model="student.entrytime")
                            label.mdl-textfield__label !{t('Entry Time')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-required="true", ng-model="student.competitiontime")
                            label.mdl-textfield__label !{t('Competition Time')}

                    div(style="width:20%;float:left;overflow-y:scroll;max-height:80vh;")
                        br
                        img(ng-src='https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.photo}}', style="border:3px solid grey;width: 100%; height: auto;margin-top:50px;", ng-if="student.photo != undefined && student.photo != '' && getFileExtension(student.photo)")
                        a(ng-href="https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.photo}}",target="_blank",style="color:blue;padding-top:30px;font-size:20px;",ng-if="student.photo != undefined && student.photo != '' && !getFileExtension(student.photo)") Download Photo (Format not supported to display)
                        br
                        br
                        br
                        img(ng-src='https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.birthcertificate}}', style="border:3px solid grey;width: 100%; height: auto;margin-top:10px;", ng-if="student.birthcertificate != undefined && student.birthcertificate != '' && getFileExtension(student.birthcertificate)")
                        a(ng-href="https://s3.ap-south-1.amazonaws.com/alohanlc/{{student.birthcertificate}}",target="_blank",style="color:blue;padding-top:30px;font-size:20px;",ng-if="student.birthcertificate != undefined && student.birthcertificate != '' && !getFileExtension(student.birthcertificate)") Download Birth Certificate (Format not supported to display)

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.photo == undefined || student.photo == ''", style="width:90%;")
                            span !{t('Upload Student Image')}  
                            input(type = 'file', file-model = 'myFile', ng-src='{{student.photo}}', accept="image/*")
                            img(ng-src="{{imageSrc}}", style="border:3px solid grey;width: 175px; height: 225px;margin-top:25px;", ng-show="imageSrc != '' && imageSrc != undefined")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.birthcertificate == undefined || student.birthcertificate == ''", style="width:90%;")
                            span !{t('Upload Birth Certificate / Aadhaar Card')}  
                            input(type = 'file', file-model = 'myFile1', ng-src='{{student.birthcertificate}}', accept="image/*")
                            img(ng-src="{{imageSrc1}}", style="border:3px solid grey;width: 175px; height: 225px;margin-top:25px;", ng-show="imageSrc1 != '' && imageSrc1 != undefined")

                p(style="text-align:center;color:red;font-weight:bolder;margin:0;padding:0;")
                    {{msg}}

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_adminstudent()")
                        | !{t('SAVE AND CLOSE')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="close_admincard()")
                        i.material-icons close

            //- Card for Admin to Add Center
            .demo-card-wide.mdl-card.mdl-shadow--2dp.paymenting.slate_board.ng-hide(ng-controller="CardController", ng-show="$parent.newCenterModal")
                .mdl-card__supporting-text(style="padding:5px;")
                    div(style="width:100%;float:left;overflow-y:auto;max-height:80vh;")
                        .mdl-textfield.mdl-js-textfield
                            label !{t('Programme Name')}
                            input.mdl-textfield__input(type="text", ng-model='$parent.center.programmename', ng-required="true")

                        .mdl-textfield.mdl-js-textfield
                            label !{t('Center Name')}
                            input.mdl-textfield__input(type="text", ng-model='$parent.center.centername', ng-required="true")
                        
                        .mdl-textfield.mdl-js-textfield
                            label !{t('Center Code')}
                            input.mdl-textfield__input(type="text", ng-model="$parent.center.centercode", ng-required="true")

                        .mdl-textfield.mdl-js-textfield
                            label !{t('State Name')}
                            input.mdl-textfield__input(type="text", ng-model="$parent.center.sstatename", ng-required="true")

                        .mdl-textfield.mdl-js-textfield(style="width:85%;")
                            label !{t('Reporting To &nbsp; &nbsp;')}
                            input(type="radio", ng-model="$parent.center.is_direct", ng-value="false", ng-checked="!$parent.center.is_direct")
                            | Master Franchise &nbsp; &nbsp;
                            input(type="radio", ng-model="$parent.center.is_direct", ng-value="true", ng-checked="$parent.center.is_direct")
                            | Head Office &nbsp; &nbsp;

                p(style="color: white;")
                    | {{center_error_message}}

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_center()")
                        | !{t('SAVE CENTER')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="closeCenterModal()")
                        i.material-icons close

            //- Card for Admin to Add User
            .demo-card-wide.mdl-card.mdl-shadow--2dp.paymenting.slate_board.ng-hide(ng-controller="CardController", ng-show="$parent.newUserModal")
                .mdl-card__supporting-text(style="padding:5px;")
                    div(style="width:100%;float:left;overflow-y:auto;max-height:80vh;")
                        .mdl-textfield.mdl-js-textfield
                            label !{t('Phone No.')}
                            input.mdl-textfield__input(type="text", ng-model='$parent.user.username', ng-required="true")

                        .mdl-textfield.mdl-js-textfield
                            label !{t('Role (unit, master, admin)')}
                            input.mdl-textfield__input(type="text", ng-model='$parent.user.role', ng-required="true")
                        
                        .mdl-textfield.mdl-js-textfield(ng-hide="$parent.user.role == 'master' || $parent.user.role == 'admin'")
                            label !{t('Center Code')}
                            input.mdl-textfield__input(type="text", ng-model="$parent.user.center", ng-required="true")

                        .mdl-textfield.mdl-js-textfield(ng-hide="$parent.user.role == 'admin'")
                            label !{t('State Name')}
                            input.mdl-textfield__input(type="text", ng-model="$parent.user.sstate", ng-required="true")

                p(style="color: white;")
                    | {{user_error_message}}

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_user()")
                        | !{t('SAVE USER')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="closeUserModal()")
                        i.material-icons close
            