mixin custom_header(t, exit)
    header
        +navbar(t, exit)

mixin navbar(_t, exit)
    .navbar
        .container
            a(href='/',style="padding:10px 0;")
                img(alt='http://www.alohakarnataka.com', src='/img/logo.png')

            span(ng-click="openNav()")
                i.fa.fa-bars(style="font-size:40px;color:white;vertical-align:bottom;margin:35px;cursor:pointer;")

    div#mySidenav.sidenav
        a.closebtn(href="javascript:void(0)",ng-click="closeNav()",style="font-size:40px;")
            | &times;

        h5
            | MENU
        a(href="http://www.alohaindia.com/contact-us/",target="_blank")
            i.fa.fa-caret-right
            | Contact
        a(href="#",ng-click="logout($event)",ng-show="loggedIn")
            i.fa.fa-caret-right
            | Log Out
        a(href="http://www.alohaindia.com")
            i.fa.fa-caret-right
            | Exit

        h5(ng-show='loggedIn && isUnit')
            | PAYMENTS
        a(href="#",ng-show='loggedIn && selectMultiple && total_amount > 0', ng-click="pay_amount()")
            i.fa.fa-caret-right
            | Pay ₹ {{total_amount}}
        a(href='#', ng-show='loggedIn && isUnit')
            #add-student(ng-click="make_payment()",ng-show="!selectMultiple")
                i.fa.fa-caret-right
                | !{t('Submit to HO')}
            #add-student(ng-click="make_payment()",ng-show="selectMultiple")
                i.fa.fa-caret-right
                | !{t('Cancel')}

        h5(ng-show="loggedIn && isAdmin")
            | ADMIN
        a(href="#",ng-click="studentdisplay()",ng-show="loggedIn && isAdmin")
            i.fa.fa-caret-right
            | Student List
        a(href="#",ng-click="centerdisplay()",ng-show="loggedIn && isAdmin")
            i.fa.fa-caret-right
            | Center List
        a(href="#",ng-click="userdisplay()",ng-show="loggedIn && isAdmin")
            i.fa.fa-caret-right
            | User List
        a(href="#",ng-click="createCenter()",ng-show="loggedIn && isAdmin")
            i.fa.fa-caret-right
            | Add Center
        a(href="#",ng-click="createUser()",ng-show="loggedIn && isAdmin")
            i.fa.fa-caret-right
            | Add User

        h5
            | DOWNLOADS
        a(ng-href="{{file}}",target="_blank")
            i.fa.fa-caret-right
            | Terms & Conditions
        a(ng-href="{{info_guide}}",target="_blank")
            i.fa.fa-caret-right
            | Info Guide
        a(href="#",csv-header="getDownloadHeader()",ng-csv="getDownloadTable()",filename="reports.csv",field-separator=",",decimal-separator=".",ng-show='loggedIn && !isStudent')
            i.fa.fa-caret-right
            | Students List
        a(href="#",csv-header="getCentersHeader()",ng-csv="downloadCenters()",filename="centers.csv",field-separator=",",decimal-separator=".",ng-show='loggedIn && !isStudent && !isUnit')
            i.fa.fa-caret-right
            | Centers List
        a(href="#",csv-header="getUsersHeader()",ng-csv="downloadUsers()",filename="users.csv",field-separator=",",decimal-separator=".",ng-show='loggedIn && !isStudent && !isUnit')
            i.fa.fa-caret-right
            | Users List

        br
        br
        br
        
//- login
mixin login_form
    div(ng-controller="LoginController")
        form.ng-hide(name='tandc', ng-show='!termsAgreed && !loggedIn && !showOTPForm && !registrationForm')
            .panel.panel-default.slate_board(style='margin-top:85px;')
                .panel-body(style='height: 75vh;padding:15px;overflow-y: auto;')
                    div(style='text-align:left;margin-left:60px;margin-right:30px;color: black; font-weight: bold;')
                        h4 Terms and Conditions
                        hr
                        ol
                            li(style="text-align: justify;")
                                | All students are requested to report at the venue as per their scheduled reporting time mentioned in the Admit Card. Students coming late will not be permitted into the competition hall.
                            li(style="text-align: justify;")
                                | Parents need to hand over the student to the volunteer at the Reporting Area / Students. Entry Gate after ensuring that the child has water bottle.
                            li(style="text-align: justify;")
                                | Parents are requested to advise their child not to call out the numbers (Question &amp; Answer) in the Competition Hall. If they do so, they will be disqualified and sent out.
                            li(style="text-align: justify;")
                                | Parents are strictly not allowed inside the Competition Hall and the Reporting area.
                            li(style="text-align: justify;")
                                | Without Admit Card &amp; Aloha T Shirt, the students will not be permitted to enter the Competition Hall.
                            li(style="text-align: justify;")
                                | The same Admit Card No. will be written on the Question paper to identify.
                            li(style="text-align: justify;")
                                | Parents are requested to collect their child after the Competition at EXIT gate.
                            li(style="text-align: justify;")
                                | Each &amp; every participant will be given a Certificate of participation. In case of any queries after receiving the Certificate, the student may contact his/her Aloha Learning Center latest by 20<sup>th</sup> January 2019.
                            li(style="text-align: justify;")
                                | The child's participation in the Competition is parent's personal responsibility. In case of any dispute, the decision of ALOHA INDIA will be the final &amp; binding all.
                            li(style="text-align: justify;")
                                | During the Competition, if you find any lapses in the arrangement or any discomfort caused to you or to any parents, kindly send y our suggestions to <a href="mailto:info@alohaindia.com" style="text-decoration:none;">info@alohaindia.com</a>. We will ensure that suggestions given are considered for our next Competition. Suggesting or discussing with the staff on the day of the event will not serve the purpose, as it will divert the attention of the staff from their duties.
                            li(style="text-align: justify;")
                                | In case of any emergency, ALOHA INDIA reserves the right to cancel / rearrange / change the time &amp; venue of the Competition.
                            li(style="text-align: justify;")
                                | The Competition will be for 5 minutes only.
                            li(style="text-align: justify;")
                                | The competition is consists of 80 sums for level 1 and 70 sums for remaining levels of MA &amp; TT.
                            li(style="text-align: justify;")
                                | Please maintain silence in the Competition Hall.
                            li(style="text-align: justify;")
                                | Participants must be present 15 min. before the reporting time at Entry Gate.
                            li(style="text-align: justify;")
                                | The papers will be distributed by the Invigilator who will be monitoring the Competition.
                            li(style="text-align: justify;")
                                | You must keep all the stationery needed (i.e) Pencils, Abacus, Etc, on the table. The students should have the Admit Card with them to produce any time during the Competition day or prize distribution day, whenever needed.
                            li(style="text-align: justify;")
                                | The Admit Card number is already written on the question paper. As soon as the question paper is distributed you must verify the Admit Card number on the paper. You should not write your name on the question paper. The question paper with your name written will be disqualified.
                            li(style="text-align: justify;")
                                | Write all answers clearly and legibly.
                            li(style="text-align: justify;")
                                | For MA / TT, if any mistake is made on the paper, strike the wrong answer and rewrite the correct answer below the wrong one. Overwriting or smudging will not carry any marks.
                            li(style="text-align: justify;")
                                | For English Smart, you must underline / Circle the correct answer out of 3 Option.
                            li(style="text-align: justify;")
                                | Answer Sheet attempted with less than 30 sums / questions will not be evaluated.
                            li(style="text-align: justify;")
                                | As soon as the 2 bell rings, you must stop writing and keep your hands-on lap.
                            li(style="text-align: justify;")
                                | You must wait in your place for the answer sheet to be collected.
                            li(style="text-align: justify;")
                                | Wait till the instructions are given to Exit. While on Exit, form an orderly queue and collect your belongings without fail.
                            li(style="text-align: justify;")
                                | For any belongings not collected, request you to contact the HELP DESK.
                            li(style="text-align: justify;")
                                | Mobile phones and calculators are strictly prohibited inside the Competition Hall.
                            li(style="text-align: justify;")
                                | Students can use any method &ndash; Finger, Abacus or Mental Theory in the competition.
                            li(style="text-align: justify;")
                                | For any assistance pls call 97909 44889 / 99402 99992 / 72999 44889 or email us @ <a href="mailto:info@alohaindia.com" style="text-decoration:none;">info@alohaindia.com</a>, <a href="mailto:enquiry@ufalohaindia.com" style="text-decoration:none;">enquiry@ufalohaindia.com</a> .
                        h5
                            | To Download Terms & Conditions, click here - <a ng-href="{{file}}" target="_blank" style="color:blue;">Terms & Conditions</a>
                        h5
                            | To Download Info Guide, click here - <a ng-href="{{info_guide}}" target="_blank" style="color:blue;">Info Guide</a>
                        h6(style="font-weight:bold;")
                            | Date & Time of competition:	 &nbsp; &nbsp; 	29 Dec 2019 (Saturday) 9:00 AM to 1:00 PM
                            br
                            | Prize Distribution: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 30 Dec 2019 (Sunday) 9:00 AM to 1:00 PM
                            br
                            | Ceremony Venue:  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  Kalaignar Arangam, Anna Salai, Teynampet, Chennai – 600 018


            div(style='text-align:center;')
                button.btn.btn-success(style='border-radius: 10px; margin:20px; color: #fff; background-color: #00C84F; border-color: #00C84F; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);margin-bottom: .3125rem; font-size: 1rem; padding: 15px; font-weight: bolder; text-decoration: none; text-transform: uppercase; letter-spacing: 0; border: 0; outline: 0; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); will-change: box-shadow,transform;min-width:200px;', ng-click='register()') REGISTER
                    //- span.tooltiptext
                    //-     | REGISTERATIONS ARE NOW CLOSED! PLEASE CONTACT YOUR CENTER OR HEAD OFFICE!!!
                button.btn.btn-success(style='border-radius: 10px; margin:20px; color: #fff; background-color: #2bbbad; border-color: #2bbbad; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);margin-bottom: .3125rem; font-size: 1rem; padding: 15px; font-weight: bolder; text-decoration: none; text-transform: uppercase; letter-spacing: 0; border: 0; outline: 0; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); will-change: box-shadow,transform;min-width:200px;', ng-click='checkStatus()') CHECK STATUS 
                                
        form.login#login.ng-hide(ng-show="showOTPForm")
            p.title= 'Welcome'
            i.fa.fa-times(aria-hidden="true",ng-click="logout($event)",style="margin-top:-65px;float:right;color:red;font-size:20px;")
            img(src="/img/logo.png")
            //- loader

            .login-wrapper#login-wrapper
                .info-message(ng-show="!otpSent")
                    h5= 'Please enter your 10 digit mobile number. Keep your phone handy to enter the OTP received on your number.' 
                .info-message(ng-show="otpSent")
                    h5= 'Please enter the OTP we sent on your number.'

                input#username(ng-show="!otpSent", tabindex="1", autocapitalize="off", autocorrect="off", type="number", placeholder="Phone Number", autofocus,ng-model='username', min-length=10, max-length=10)
                i.fa.fa-phone
                input#number(ng-show="otpSent", tabindex="2", type="number", placeholder="OTP", ng-model='password')
                i.fa.fa-key

                a(ng-show="otpSent", href="#", ng-click='generateOTP(username)')= 'Resend OTP?' 
                
                .right-a
                    a(ng-show="otpSent", href="#", ng-click='tryDifferentNumber()')= 'Try different Number!' 

                p(ng-show="!otpSent", style="color:red;")
                    | {{msg}}

                button(ng-show="!otpSent", ng-click='generateOTP(username)')
                    //- i.spinner
                    span.state= 'submit'
            
                button(ng-show="otpSent", ng-click='send(username, password)')
                    //- i.spinner
                    span.state= 'submit'

        div.ng-hide(ng-show='registrationForm', style='margin-top:100px;')
            div
                ncy-breadcrumb
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            form(name='registration', ng-submit='save_student()', ng-show='!dataSaved')
                                .panel.panel-default
                                    .panel-body.slate_board(style='height:75vh; overflow-y:auto; background-color:white;border-radius: 10px;padding: 10px 20px; color: black;')
                                        div

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                                span !{t('Select Your State')}
                                                select.mdc-select__native-control(ng-model='student.sstatename', ng-options='x for x in sstateoptions | orderBy:"toString()"', ng-required="true", ng-change="onStateChange()", ng-disabled="isOTPVerified")
                                                    option(value="" disabled selected)
                                                        | Select State

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style="margin-top:-10px;")
                                                span !{t('Select Your Center')}
                                                select.mdc-select__native-control(ng-model='student.centername', ng-options='x for x in centeroptions | orderBy:"toString()"', ng-required="true", ng-disabled="centeroptions.length < 1 || isOTPVerified", ng-change="onCenterChange()")
                                                    option(value="" disabled selected)
                                                        | Select Center

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                                label.mdl-textfield__label !{t('Select Your Program(s)')}
                                                br
                                                br
                                                label(style="width:25%;margin-right:25px;",ng-repeat="x in programmeoptions | orderBy:'toString()'")
                                                    input(type="checkbox",value="{{x}}",ng-checked="student.programmeName.indexOf(x) > -1",ng-click="toggleSelection(x)")
                                                    | {{x}}

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                                input.mdl-textfield__input(type="number", ng-model="student.phone", ng-minlength="10", ng-maxlength="10", ng-required="true", ng-change="onPhoneChange(student.phone)", ng-disabled="isOTPVerified || student.programmename == ''")
                                                label.mdl-textfield__label !{t('Phone Number')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified")
                                                input.mdl-textfield__input(type="email", ng-model="student.email", ng-required="true")
                                                label.mdl-textfield__label !{t('Email')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified")
                                                input.mdl-textfield__input(type="text", ng-model="student.name", ng-required="true")
                                                label.mdl-textfield__label !{t('Name Of Student')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified")
                                                input.mdl-textfield__input(type="text", ng-model="student.parentname", ng-required="true")
                                                label.mdl-textfield__label !{t('Parent Name')}

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified",style="margin-top:-20px;")
                                                label.mdl-textfield__label !{t('Gender')}
                                                br
                                                br
                                                label(style="width:50%;margin-right:35px;")
                                                    input(type="radio", ng-model="student.gender", value="Male", style="width:10%;margin-top: 3px;")
                                                    | Male
                                                label(style="width:50%;")
                                                    input(type="radio", ng-model="student.gender", value="Female", style="width:10%;margin-top: 3px;")
                                                    | Female

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified")
                                                span !{t('Date Of Birth')}   
                                                br                                             
                                                select.mdc-select__native-control(ng-model='dob.day', ng-options='x for x in dayOptions', style="width:100px;padding-right:0;")
                                                    option(value="" disabled selected)
                                                        | Select Day 
                                                select.mdc-select__native-control(ng-model='dob.month', ng-options='x for x in monthOptions', style="width:100px;padding-right:0;")
                                                    option(value="" disabled selected)
                                                        | Select Month 
                                                select.mdc-select__native-control(ng-model='dob.year', ng-options='x for x in yearOptions', style="width:100px;padding-right:0;")
                                                    option(value="" disabled selected)
                                                        | Select Year
    
                                                //- input.mdl-textfield__input(type="date", ng-model="student.dateofbirth", ng-required="true", id="datepicker", class="active", min="2003-09-30", max="2013-09-30")

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified")
                                                span !{t('T-Shirt Size')}
                                                select.mdc-select__native-control(ng-model='student.tshirtsize', ng-options='x for x in tshirtsizeoptions')
                                                    option(value="" disabled selected)
                                                        | Select T-Shirt Size 
    
                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified", style="width: 40%;")
                                                span !{t('Address')}
                                                input.mdl-textfield__input(ng-model="student.address", type="text", ng-required="true")

                                            br

                                            div(style="width:30%;float:left;")
                                                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified", style="width:100%;")
                                                    span !{t('Upload Student Image')}  
                                                    input(type = 'file', file-model = 'myFile', ng-src='{{student.photo}}', accept="image/*")

                                                br
                                                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="isOTPVerified", style="width:100%;")
                                                    span !{t('Upload Birth Proof')}  
                                                    input(type = 'file', file-model = 'myFile1', ng-src='{{student.birthcertificate}}', accept="image/*")

                                                br
                                                input(type="checkbox",name="termsAccepted",value="termsAccepted", style="zoom:2;margin-left:15px;", ng-click="onTCChange()" ng-show="isOTPVerified")
                                                p(ng-show="isOTPVerified", style="display:inline-block;")
                                                    | I accept to the <a ng-href="{{file}}" target="_blank" style="color:blue;">Terms & Conditions</a>. <br>
                                            
                                            div(style="width:60%;float:left;")
                                                img(ng-src="{{imageSrc}}", style="width:200px;height:250px;margin-left:10px;margin-top:-25px;", ng-show="imageSrc != '' && imageSrc != undefined")
                                                img(ng-src="{{imageSrc1}}", style="width:250px;height:200px;margin-left:10px;margin-top:-25px;", ng-show="imageSrc1 != '' && imageSrc1 != undefined")

                                            p(style="text-align:center;color:red;font-weight:bolder;margin:0;padding:0;",ng-show="isPhoneDuplicate")
                                                | Sorry! Phone number already registered.

                                            p(style="text-align:center;color:red;font-weight:bolder;margin:0;padding:0;")
                                                | {{msg}}

                                div(style='text-align:center;', ng-show="isOTPVerified")
                                    button.btn.btn-success(style='border-radius: 10px; margin:20px; color: #fff; background-color: #4caf50; border-color: #4caf50; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);margin-bottom: .3125rem; font-size: 1rem; padding: 15px; font-weight: bolder; text-decoration: none; text-transform: uppercase; letter-spacing: 0; border: 0; outline: 0; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); will-change: box-shadow,transform;', type='submit', ng-click='save_student()', ng-disabled="!isOTPVerified || isPhoneDuplicate") Submit

                            div(ng-show='dataSaved')
                                .panel.panel-default(style='margin-top:20px;')
                                    .panel-body.slate_board(style='height:70vh; overflow-y:auto; background-color:white;border-radius: 10px;padding:15px 30px;')
                                        div(ng-show='savingFailed',style="text-align:center;")
                                            .swal2-icon.swal2-error
                                                span.swal2-x-mark
                                                    span.swal2-x-mark-line-left
                                                    span.swal2-x-mark-line-right
                                            h2#swal2-title.swal2-title Oops! Couldnot submit!
                                            #swal2-content.swal2-content(style='display: block;')
                                                | Please try again or contact the center office. <br><br><br>
                                                | Incase of any doubts, pls call 97909 44889 / 99402 99992 / 72999 44889 or email us @ <a href="mailto:info@alohaindia.com">info@alohaindia.com</a>, <a href="mailto:enquiry@ufalohaindia.com">enquiry@ufalohaindia.com</a> . <br><br>                                            
                                            .swal2-buttonswrapper(style='display: block;')
                                            button.swal2-confirm.swal2-styled(type='button', style='background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);') OK
                                            button.swal2-cancel.swal2-styled(type='button', style='display: none; background-color: rgb(170, 170, 170);') Cancel
                                        div(ng-show='savingSuccess',style="color:black;margin-left:50px;")
                                            .swal2-icon.swal2-success.swal2-animate-success-icon(style='display: flex;')
                                                .swal2-success-circular-line-left(style='background-color: rgb(255, 255, 255);')
                                                |    
                                                span.swal2-success-line-tip
                                                |    
                                                span.swal2-success-line-long
                                                |    
                                                .swal2-success-ring
                                                |  
                                                |    
                                                .swal2-success-fix(style='background-color: rgb(255, 255, 255);')
                                                |    
                                                .swal2-success-circular-line-right(style='background-color: rgb(255, 255, 255);')
                                            h2#swal2-title.swal2-title(style="text-align:center;color:#0080ff;") Hurray! You successfully submitted!
                                            #swal2-content.swal2-content(style='display: block;')
                                                | Dear <b> {{student.name}} </b> <br> <br>
                                                | Please make a payment of <b> Rs. {{calculateFee(student)}} towards Registration </b> to the respective centers. <br> <br>
                                                | Incase of any doubts, pls call 97909 44889 / 99402 99992 / 72999 44889 or email us @ <a href="mailto:info@alohaindia.com">info@alohaindia.com</a>, <a href="mailto:enquiry@ufalohaindia.com">enquiry@ufalohaindia.com</a> . <br> <br>
                                                | Do not forget to come back after <b> 10th December 2019 </b> to print the hall ticket.  <br> <br>
                                                | <a ng-href="{{file}}" target="_blank" style="color:blue;float:left;width:30%;">Download Terms & Conditions</a>
                                                | <a style="color:blue;margin-bottom:20px;float:left;width:50%;cursor:pointer;text-decoration:underline;" ng-click='downloadFormCopy()'>Download Copy of Form</a> 
                                            .swal2-buttonswrapper(style='display: block;')
                                            //- button.swal2-confirm.swal2-styled(type='button', style='background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);') OK
                                            button.swal2-cancel.swal2-styled(type='button', style='display: none; background-color: rgb(170, 170, 170);') Cancel

        .demo-card-wide.mdl-card.mdl-shadow--2dp.ng-hide(ng-show="phoneOtpVerification", style="padding:45px;background-color:silver;border-radius:10px;background-color: silver;border-radius: 10px;height: 70vh;margin-top:105px;margin-left:75px;width:85%;text-align:center;left: 0;margin-left: 7.5%;overflow-y: auto;")
            h3 {{oTPmessage}}
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type="number", ng-model="otp", ng-minlength="6", ng-maxlength="6", ng-required="true", ng-change="onPwdChange(otp)", style="margin-left: 120%;")
            a(ng-click='onPhoneChange(student.phone)', style="color: blue;font-size:16px;cursor:pointer;padding:15px;")= 'Resend OTP?' 
            a(ng-click='changePhoneNumber()', style="color: blue;font-size:16px;cursor:pointer;padding:15px;")= 'Try different Number!' 